
.title_led{
  margin-top: 20vh;
  color: #e5e5e5;
  text-transform: uppercase;
  padding-left: 15%;
  z-index: 10;
}

/* takie same wymiary */
.column_produkt_led {
  float: left;
  width: 40%;
  padding: 5%x;
  height: 500px; /* Do mozliwej zmiany */
  border-radius: 5%;
  align-items: center;
  overflow: auto;
}
 /* wyczyść floats po kolumnach*/
.row_produkt_led:after {
  content: "";
  display: table;
  clear: both;
}
.card_opisu {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}
#photometry{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#photometry img {
  margin:2%;
  border-radius: 15px;
  max-width: 15%;
}

.produkt_pod_tematy{
  border-radius: 0 25px 25px 0;
  background-color:#666;
  padding-right: 10%;
  padding-left: 10%;
  color: #fecb00;
  text-shadow: #FC0 1px 0 10px;
}

#produkt_ikons{
  margin-left: 10%;
  border-radius: 25px;
  background-color: #fecb00;
  padding-left:5%;
  padding-right: 5%;
  color: #333;
}
#produkt_ikons i{
  padding-left:2%;
}
#title_produkts{
  border-radius: 0 25px 25px 0;
  background-color:#fecb00;
  padding-right: 10%;
  padding-left: 10%;
}

#opis_ikons{
  visibility: hidden;
  font-style: italic;
}

#btnLangeShow{
  padding: 1em;
  border-radius: 25% 10%;
  position: fixed;
  top:40%;
  background-color: #333;
  left:1%;
  z-index:10;
}
#btnLangeShowPl{
  opacity:0;
  padding: 1em;
  border-radius: 25% 10%;
  position: fixed;
  top:40%;
  background-color: #333;
  left:1%;
  z-index:1;
}
#btnLangeShowFR{
  opacity:0;
  padding: 1em;
  border-radius: 25% 10%;
  position: fixed;
  top:40%;
  background-color: #333;
  left:1%;
  z-index:1;
}
#btnLangeShowANG{
  opacity:0;
  padding: 1em;
  border-radius: 25% 10%;
  position: fixed;
  top:40%;
  background-color: #333;
  left:1%;
  z-index:1;
}
@media screen and (max-width: 1050px){
  #produkt_ikons{
    display: flex;
    margin-left: 0;
    justify-content: center;
    padding: 0 1%;
  }
  #photometry img{
   display: grid;
  }
  .column_produkt_led {
    width: 100%;
  }
  #foto_produkt{
    display: flex;
    justify-content: center;
  }
  
}

@media screen and (max-width: 900px) {
  .title_led{
    margin-top:30vh;
  }

}

/* Responsive layout  */
@media screen and (max-width: 600px) {
  .column_produkt_led {
  width: 100%;

  }
}

@media (max-width: 950px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .tabela_led:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 80px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 150px;
        font-size: 15px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}