@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

:root {
      --card-height: 300px;
      --card-width: calc(var(--card-height) / 1.5);
}

body {
  display: flex;
  flex-wrap: wrap;
}

* {
box-sizing: border-box;
}

@media screen and (max-width: 1450px) {
  .bg h1 {
    font-size: 10vh;
  }
  #zastosowanie_produkt{
    margin-top:50px;
  }
  .heexx{
    left:200px;
  }
}

.ribbon {
  position: absolute;
  right: var(--right, 10px);
  top: var(--top, -3px);
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.ribbon > .content_ribon {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  background: var(--color, #2ca7d8) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 50px);
  min-height: var(--height, 50px);
  transition: clip-path 1s, padding 1s, background 1s;
}
.ribbon.slant-up > .content_ribon {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
}
.ribbon.slant-down > .content_ribon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
}
.ribbon.down > .content_ribon {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
}
.ribbon.up > .content_ribon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
}
.ribbon.check > .content_ribon {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
}


.category_produkt {
  width: 90%;
  color: #e5e5e5;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(254, 203, 0, 0.5);
  border-radius: 25px;
  margin-top: 90px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px rgba(254, 203, 0, 0.5),
        0px 2px 4px rgba(254, 203, 0, 0.5),
        0px 4px 8px rgba(254, 203, 0, 0.5),
        0px 8px 16px rgba(254, 203, 0, 0.5);
}

/*.hexagon_loga{
  position: relative;
	height: 150px;
	width: 140px;
	background: #333;
	margin: 10px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
}

.logo_s{
  position: fixed;
  top: 20px;
  left:20px;
  z-index: 11;
}

.logo_s:hover{
  transition: 1s;
	background: #fecb00;
  transform: scale(1.2);
  filter: brightness(1.3);
  cursor: pointer;
}
*/

.heexx{
  position: relative;
	height: 130px;
	width: 110px;
  top: 40px;
  left:230px;
	background: #333;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
  z-index: 5;
  padding:10px;  
  margin-bottom: 10px;
}

.heexx:hover{
  transition: 1s;
	background: linear-gradient(0deg, #ffecb3,#fecb00);
  cursor: pointer;
  transform: translate(0, 1rem) scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  z-index: 12;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip > .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 15;
}

#zastosowanie_produkt{
  display:flexbox;
  flex-wrap: wrap;
  margin-top:70px;
  justify-content: space-around;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20vh;
  filter: opacity(0.2);
  color: #eee;
}

.body_produkt {
  width: 100vw;
  height: 100vh;
  margin-top: 6%;
  margin-bottom: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card_produkt {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 10px 50px;
}

.cover-image_produkt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_wraper {
  display: flexbox;
  flex-wrap: wrap;
}

.wrapper_produkt {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card_produkt:hover .wrapper_produkt {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper_produkt::before,
.wrapper_produkt::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper_produkt::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
    transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper_produkt::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
    transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.card_produkt:hover .wrapper_produkt::before,
.wrapper_produkt::after {
  opacity: 1;
}

.card_produkt:hover .wrapper_produkt::after {
  height: 120px;
}

.title_produkt {
  width: 100%;
  transition: transform 0.5s;
}

.card_produkt:hover .title_produkt {
  transform: translate3d(0%, -50px, 100px);
}

.character_produkt {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card_produkt:hover .character_produkt {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.scrool_produkt {
  list-style: none;
  width: min(90vw, 51rem);
  max-width: 51rem;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2rem;
}

.scrool_produkt > li {
  flex: 0 0 45vw;
  max-width: 18rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20rem;
}
.scrool_produkt > li span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0.75em;
  height: 100%;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
}
.scrool_produkt > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #fecb00cc 2%, transparent 60%);
  z-index: -1;
}
.scrool_produkt > li img {
  display: block;
  height: 20rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: -2;
}

@media (min-width: 53rem) {
  li:nth-child(1) {
    left: 0rem;
  }

  li:nth-child(2) {
    left: 2.2rem;
  }

  li:nth-child(3) {
    left: 4.4rem;
  }

  li:nth-child(4) {
    left: 6.6rem;
  }

  li:nth-child(5) {
    left: 8.8rem;
  }

  li:nth-child(6) {
    left: 11rem;
  }

  li:nth-child(7) {
    left: 13.2rem;
  }

  li:nth-child(8) {
    left: 15.4rem;
  }

  li:nth-child(9) {
    left: 17.6rem;
  }

  li:nth-child(10) {
    left: 19.8rem;
  }

  li:nth-child(11) {
    left: 22rem;
  }

  li:nth-child(12) {
    left: 24.2rem;
  }

  li:nth-child(13) {
    left: 26.4rem;
  }

  li:nth-child(14) {
    left: 28.6rem;
  }

  li:nth-child(15) {
    left: 30.8rem;
  }
  li:nth-child(16) {
    left: 0rem;
  }

  li:nth-child(17) {
    left: 2.2rem;
  }

  li:nth-child(18) {
    left: 4.4rem;
  }

  li:nth-child(19) {
    left: 6.6rem;
  }

  li:nth-child(20) {
    left: 8.8rem;
  }

  li:nth-child(21) {
    left: 11rem;
  }

  li:nth-child(22) {
    left: 13.2rem;
  }

  li:nth-child(23) {
    left: 15.4rem;
  }

  li:nth-child(24) {
    left: 17.6rem;
  }

  li:nth-child(25) {
    left: 19.8rem;
  }

  li:nth-child(26) {
    left: 22rem;
  }

  li:nth-child(27) {
    left: 24.2rem;
  }

  li:nth-child(28) {
    left: 26.4rem;
  }

  li:nth-child(29) {
    left: 28.6rem;
  }

  li:nth-child(30) {
    left: 30.8rem;
  }
}

.zastosowania_zgrupowanie_kart{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}